.container-fluid {
  margin: 0;
  padding: 0;
}
.background {
  background: url("./images/background.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  bottom: 0;
}

.navbar{
  background-color: black;
  color: green;
}

.navbar-toggler{
 
  margin-left: auto;
  margin-right: auto;
  border : 0;

}


.title {
  
  font-size: 50px;
  color: teal;
  font-family: "Do Hyeon", sans-serif;
  
}

.card-title{
  font-family: 'Londrina Solid', cursive;
}

.content {
  font-family: "Epilogue", sans-serif;
  font-size: 22px;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.space {
  margin: 3%;
}

footer {
  background-color: #d6e0f0;
  padding: 10px;
}
.footer-icons {
  padding: 10px 15px;
  color: black;
}
.footer-icons:hover {
  color:#393b44;
}

.helloPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  /* width: 380px;
  height: 250px; */
}
